<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'"
               [opened]="false" class="sidenav" fixedInViewport>
    <mat-toolbar>{{title$ | async}}</mat-toolbar>
    <mat-nav-list class="menuNavigation">
      <a href="#" mat-list-item>Fake Link 1</a>
      <a href="#" mat-list-item>Fake Link 2</a>
      <a href="#" mat-list-item>Fake Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" aria-label="Toggle sidenav" mat-icon-button type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="appCurrentScreen">{{title$ | async | uppercase}}</span>
      <span><i class="material-icons">search</i></span>
      <span><mat-icon>notifications</mat-icon></span>
      <hr>
      {{userName}}
      <span><i (click)="logout()" class="material-icons">face</i></span>
    </mat-toolbar>
    <main class="parentContainer">
      <router-outlet #outletRef="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
